<div id="intro">
  <h2>Hi there, I'm Marcel</h2>

  <p>Born in 1986. Living in Ede, The Netherlands. Married and father of a lovely daughter. Working for
  <a href="https://yourkarma.com">Karma</a> as Ops Engineer.</p>

  <p>I'm available for part-time freelance gigs. You can also hire me as a drummer or percussionist.</p>

  <p>Want to get in touch? Feel free to <a href="mailto:mail@marceldegraaf.net">send me an email</a> or
  tweet <a href="http://twitter.com/marceldegraaf">@marceldegraaf</a>.</p>
</div>
