<div id="intro">
  <h2>Hi there, I'm Marcel</h2>

  <p>Born in 1986. Lived in a number of places both in The Netherlands and in Belgium,
  current location is Ede. Working for <a href="http://wakoopa.com">Wakoopa</a> in Amsterdam,
  mostly on Ruby and Javascript code and an interesting Amazon Web Services based architecture.</p>

  <p>In my spare time I take on freelance developing gigs. You can also hire me as a drummer or percussionist.</p>

  <p>Want to get in touch? Feel free to <a href="mailto:mail@marceldegraaf.net">send me an email</a> or
  tweet <a href="http://twitter.com/marceldegraaf">@marceldegraaf</a>.</p>
</div>
