body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Buenard", serif;
}

a {
  color: #5E5EFF;
  text-decoration: none;
  padding: 10px
}

a:hover {
  color: blue;
}

div#container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 50px;
  padding-bottom: 0px;
  color: #222;
}

div#heading {
  margin-top: 100px;
}

div#heading p {
  font-size: 35px;
  margin: 0 0 40px 0;
}
