@import url('../fonts/vollkorn.css');
@import url('../fonts/molengo.css');
@import url('../fonts/nymphette.css');

body {
  background: #dfdccc url('/images/backdrop.jpg') 0px 0px repeat;
  margin: 0;
  padding: 0;
}

a {
  color: #474D71;
  text-decoration: underline;
  text-shadow: none;
}

a:hover {
  color: #333;
}

div#container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'MolengoRegular';
  font-size: 120px;
  text-shadow: 1px 1px 0px #eee;
  color: #333752;
  margin-bottom: 50px;
  padding-bottom: 0px;
}

div#heading p {
  font-family: 'VollkornItalic';
  font-size: 35px;
  color: #4B5177;
  text-shadow: 1px 1px 0px #ddd;
  margin: 0 0 5px 0;
}

div#footer {
  font-family: 'NymphetteRegular';
  font-size: 70px;
  color: #333752;
  text-shadow: 0px 1px 0px #fff;
  margin-top: 50px;
}

.polaroid {
  position: relative;
  background: #fff;
  width: 200px;
  padding: 7px;
  margin: 10px;
  text-align: center;
  -moz-box-shadow: 1px 1px 3px #222;
  -moz-transform: rotate(-5deg);
  -webkit-box-shadow: 1px 1px 3px #222;
  -webkit-transform: rotate(-5deg);
  box-shadow: 1px 1px 3px #222;
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.polaroid div.photo {
  -moz-box-shadow: inset 0px 0px 5px #000;
  -webkit-box-shadow: inset 0px 0px 5px #000;
  box-shadow: inset 0px 0px 5px #000;
  background: #000 url('/images/me.jpg') 0px 0px no-repeat;
  width: 200px;
  height: 200px;
}