<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <div id="sidebar">
      <div id="photo" class="circular">
        <img src="/assets/img/me.jpg" alt="Marcel de Graaf" />
      </div>

      <h1>Marcel de Graaf</h1>
      <p>Ruby and Javascript hacker <a href="http://wakoopa.com">@wakoopa</a>, drummer, music enthusiast</p>

    </div>

    <div id="content-area">
      {{content}}
    </div>
  </body>
</html>
